body {
    background-color: var(--dark);
    color: white;
    font-family: var(--code);
}

.header {
    text-align: center;
}

h1.header {
    font-size: 64px;
    font-family: var(--bold);
    letter-spacing: 8px;
    margin: 8px;
    transition: 1s;
    cursor: default;
}

h1.header:hover {
    letter-spacing: 16px;
    color: var(--lightish);
}

main {
    padding: 16px;
    background-color: var(--darkish);
    min-height: 50vh;
    border: none;
    border-radius: 16px;
    transition: 0.5s;
}

main:hover {
    border-radius: 8px;
}

a {
    color: var(--light);
    transition: 0.5s;
}

a:hover {
    color: var(--lightish)
}